.side-bar{
	@include single-transition(left, 0.5s, ease-out, 0);
	position: fixed;
	top: $navbarHeight;
	bottom:0;
	width: 75%;
	max-width: 400px;
	left:0;
	overflow-y: auto;
	@include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
}

@media (max-width: $navbarCollapseWidth) {
	.side-bar {
		top:0;
		z-index: 10;
	}
}

@media (min-width: $navbarCollapseDesktopWidth) {
	.side-bar{
		top: $navbarHeight;
	}
}
